{% extends 'base.html' %}

{% block title %}To-Do Extension{% endblock %}
    
{% block content %}
    <h1>To-Do Extension</h1>
    <p>Created with <span class="material-symbols-outlined">favorite</span> by <a href="https://replit.com/@SalladShooter">SalladShooter</a></p>
    <a class="github" href="https://github.com/SalladShooter/To-Do-Extension"><p>Github - <i class='bx bxl-github'></i></p></a>
    <div class="create-task">
        <p>Create Task</p>
        <span class="material-symbols-outlined">
        add_circle
        </span>
    </div>
    <hr />
    <div class="task-list"></div>
{% endblock %}